.inline-block{
    display: inline-block !important;
}

.padding-03 {
    padding: 0.3em !important;
}
.padding-tb-02 {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.padding-tb-03 {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.padding-tb-05{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;    
}

.padding-tb-1{
    padding-top: 1em !important;
    padding-bottom: 1em !important;    
}

.padding-tb-2{
    padding-top: 2em !important;
    padding-bottom: 2em !important;    
}


.padding-tb-3{
    padding-top: 3em !important;
    padding-bottom: 3em !important;    
}
.padding-tb-4{
    padding-top: 4em !important;
    padding-bottom: 4em !important;    
}
.padding-tb-5{
    padding-top: 5em !important;
    padding-bottom: 5em !important;    
}



/*   text   */
.text-thin {
    font-weight: 300 !important;
}
.text-spaced {
    letter-spacing: 1px !important;
}
.text-lined {
    line-height: 1.8 !important;
}

.opacity-mini {
    opacity: 0.8 !important;
}